[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
memecoin_lending = "CD2sN1enC22Nyw6U6s2dYcxfbtsLVq2PhbomLBkyh1z5"

[programs.localnet]
memecoin_lending = "2NVfyczy1rWMdb7Y9kGmHCZkM72wyYiN5ry8dntzBK2S"

[programs.mainnet]
memecoin_lending = "2NVfyczy1rWMdb7Y9kGmHCZkM72wyYiN5ry8dntzBK2S"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "./keys/admin.json"

[scripts]
test = "pnpm exec ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[test.validator]
bind_address = "0.0.0.0"
url = "https://api.mainnet-beta.solana.com"
ledger = ".anchor/test-ledger"
rpc_port = 8899
